.m-page.J_page(data-page='1')
  // <a href="javascript:;" class="page-item page-item-disabled">上一页</a>
  if currentPage <= 7
    - var prepage = '/find?page=' + (currentPage - 1)
    a.page-item(href=prepage, class=currentPage == 1 ? 'page-item-disabled' : '') 上一页
    - var currentLink = '/find?page=' + currentPage
    a.page-item.page-item-cur(href='currentLink')=currentPage
    - var secondLink = '/find?page=' + (currentPage + 1)
    a.page-item(href=secondLink)=currentPage + 1
    - var thirdLink = '/find?page=' + (currentPage + 2)
    a.page-item(href=thirdLink)=currentPage + 2
    span.page-dot ...
    - var lastLink = '/find?page=' + pageCount
    a.page-item(href=lastLink)=pageCount
    - var nexpage = '/find?page=' + (currentPage + 1)
    a.page-item(href=nexpage class=currentPage == pageCount ? 'page-item-disabled' : '') 下一页
  else
    - var prepage = '/find?page=' + (currentPage - 1)
    a.page-item(href=prepage, class=currentPage == 1 ? 'page-item-disabled' : '') 上一页
    - var currentLink = '/find?page=' + 7
    a.page-item(href=currentLink, class=currentPage == 7 ? 'page-item-cur': '')=7
    - var secondLink = '/find?page=' + (7 + 1)
    a.page-item(href=secondLink, class=currentPage == 8 ? 'page-item-cur': '')=8
    - var thirdLink = '/find?page=' + (7 + 2)
    a.page-item(href=thirdLink, , class=currentPage == 9 ? 'page-item-cur': '')=9
    - var lastLink = '/find?page=' + pageCount
    a.page-item(href=lastLink, , class=currentPage == 10 ? 'page-item-cur': '')=pageCount
    - var nexpage = '/find?page=' + (currentPage + 1)
    a.page-item(href=nexpage class=currentPage == pageCount ? 'page-item-disabled' : '') 下一页
